:global{
  body[theme="dark"]{
    color: white;
  }
  body[theme="light"]{
    color: black;
  }
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.btn{
  height: 20px;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover{
    font-weight: bold;
  }
  &__icon{
    width: 20px;
  }
  &__text{
    font-size: 12px;
  }
}